build: false
platform: x64
environment:
    PYTHON: "C:\\Python36-x64"

    CONAN_USERNAME: "steptosky"
    CONAN_CHANNEL: "testing"

    GIT_BRANCH: $APPVEYOR_REPO_BRANCH
    
    matrix:
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15
          CONAN_BUILD_TESTING: 1
          CONAN_TESTING_REPORT_DIR: report
          CTEST_OUTPUT_ON_FAILURE: 1


install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools --upgrade
  - conan user # It creates the conan data directory

test_script:
  - python build.py