build: false
platform: x64
environment:
    PYTHON: "C:\\Python36-x64"

    CONAN_USERNAME: "steptosky"
    CONAN_CHANNEL: "testing"
    CONAN_BUILD_TESTING: 1
    CONAN_TESTING_REPORT_DIR: "report"
    CONAN_BUILD_POLICY: "outdated"
    CTEST_OUTPUT_ON_FAILURE: 1
    
    matrix:
        - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
          CONAN_VISUAL_VERSIONS: 15


install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan --upgrade
  - pip.exe install conan_package_tools --upgrade
  - conan user # It creates the conan data directory

test_script:
  - python build.py